body{
    color: #6c7c7f;
    color:#94836d;
    color:#79716a;
    color: #161713;
    color:#e1eeef;


    color: #fbfefd;
    color: #110e08;
    color:#060a06;
    color: #090d09;
    color: #909493;

    
}